/* Set the background color of the entire page */
body {
	background-color: #edebeb;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* Define the style for the header at the top of the page */
header {
	background-color: #fff;
	color: #333;
	padding: 20px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#players {
	max-width: 900px;
	height: 900px; 
	margin: 40px 0;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	text-align: center;
}

#players p {
	font-size: 1.3em;
}
.gallery {
	display: flex;
	flex-wrap: wrap; /* Allow the gallery items to wrap onto multiple lines */
	gap: 30px; /* Add some space between the gallery items */
}

.gallery-item-victor{
	right: 100px;
	width: 200px;
	height: 200px;
}

.gallery-item-victor img{
	width: 150px;
	position: relative;
	height: auto;
	left: 300%;
}
.gallery-item-victor p
{
	width: 400px;
	position: relative;
	top: -100%;
	left: 50%;
}
.gallery-item {
	flex-basis: calc(33.33% - 20px); /* Set the width of each gallery item to 1/3 minus the gap */
	position: relative; /* Add a positioning context to the gallery item */
}

.gallery-item img {
	position: relative;
	top: 20%;
	width: 80%;
	height: auto;
	display: block; /* Remove any default spacing below the image */
}
.gallery-item:hover img {
	transform: scale(1.1); /* Increase the size of the image on hover */
	transition: transform 0.3s ease-out; /* Add a smooth transition effect */
}
.gallery-item p{
	position: absolute;
	bottom: -10%;
	left: 0;
	width: 50%;
	background-color: rgba(0, 0, 0, 0.5); /* add semi-transparent background to text */
	color: #fff; /* change text color to white */
	padding: 10px;
	margin: 0;
	font-size: 18px;
}

.black
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #444;
	width: 100%;
	height: 90%;
}
.description {
	display: none;
}

.show-description {
	display: block;
	width: 400px;
	position: relative;
	top: -100%;
	left: 50%;
}
nav {
	flex: 1;
	display: flex;
	justify-content: center;
}
  
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
  
nav li {
	margin: 0 20px;
}
  
nav a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}
  
nav a:hover {
	color: #f00;
}
  
.header-right {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
  
img {
	height: 90px;
}

/* Define the style for the main content section */
main {
	margin-top: 100px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	max-width: 800px;
	margin: 40px 0;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
	text-align: center;
}

section h2 {
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	color: #1d1d1d;
}
header.sticky {
	box-shadow: 0px 2px 2px #ccc;
}

.video {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
section p {
	font-size: 1.3em;
	color: #101010;
}
.button {
  display: inline-block;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255,255,255,0.2);
  opacity: 0;
  border-radius: 100%;
  transform: translate(-50%,-50%);
  transition: all 0.3s ease-in-out;
}

.button:hover::before {
  width: 500px;
  height: 500px;
  opacity: 1;
}

/* Define the style for the footer at the bottom of the page */
footer {
	background-color: #1d1d1d;
	color: #fff;
	padding: 20px;
	text-align: center;
}